<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado liebre =)</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" width="360" alt="Logo Mercado Liebre"></a>
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <div><button name="button"><i class="fa-solid fa-magnifying-glass"></i></button></div>
                </div>
                <p class="slogan"><i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="ham-button">
                <a href="" class = "hamburguer-button">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li> <a href="#ofertas">Ofertas</a> </li>
                    <li> <a href="">Tiendas Oficiales</a> </li>
                    <li> <a href="">Vender</a> </li>
                    <li> <a href="">Ayuda</a> </li>
                </ul>
                <ul class = "right-navbar"> 
                    <li> <a href="/cuenta">Registrate</a> <i class="fa-solid fa-id-card"></i> </li>
                    <li> <a href="/login">Login</a> <i class="fa-solid fa-share-from-square"></i> </li>
                    <li> <a href="">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i> </li>
                </ul>
            </nav>
        </header>
        <main   class="registro">
            <form action="/" method="POST" class="login">
                <input type="text" name="name" placeholder="Nombre y apellido" class="textbox">
                <input type="text" name="user" placeholder="Nombre de usuario" class="textbox">
                <input type="email" name="email" placeholder="E-mail" class="textbox">
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date"  class="textbox">
                <br>
                <input type="text" name="addres" placeholder="Domicilio" class="textbox">
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                
                <input type="password" name="pass" placeholder="Elegí tu contraseña" class="textbox">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="textbox">
                <br>
                <br>
                <input type="submit" value="Enviar" class="button">
                <input type="reset" value="Borrar" class="button">
                <br>
                <br>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>