<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre =)</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" width="360" alt="Logo Mercado Liebre">
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <div><button name="button"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </div>
            <p class="slogan"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="ham-button">
            <a href="" class = "hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="#ofertas">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>
            <ul class = "right-navbar"> 
                <li> <a href="/cuenta">Registrate</a> <i class="fa-solid fa-id-card"></i> </li>
                <li> <a href="/login">Login</a> <i class="fa-solid fa-share-from-square"></i> </li>
                <li> <a href="">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i> </li>
            </ul>
        </nav>
    </header>
    <section class="image-header">
        <img src="/images/img-home-banner.jpg" alt="Banner Home">
    </section>
    <main>
        <section class = "ultima-vista">
            <h2 class="titular">Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class = "precio">$6.770</p>
                    <p class = "descuento">40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class = "precio">$150.970</p>
                    <p class = "descuento">10% OFF</p>
                    <h4 class="descripcion">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class = "precio">$54.230</p>
                    <h4 class="descripcion">Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class = "precio">$89.410</p>
                    <p class = "descuento">20% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>
        </section>
    
        <section class = "ofertas">
            <h2 id="ofertas" class="titular">Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$150.970</p>
                    <p class = "descuento">10% OFF</p>
                    <h4 class="descripcion">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$54.230</p>
                    <h4 class="descripcion">Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$89.410</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h4>
                </div>
            </article>
        </section>

    </main>
    <footer>
        <article class = "informacion">
            <h4>Pagá con tarjeta o en efectivo </h4>
            <div class="info-icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de                             
                pago. ¡Y siempre es seguro! 
            </p>
        </article>
         
        <article class = "informacion">
            <h4>Envío gratis desde $ 1.999</h4> 
            <div class="info-icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de                         
                productos. Es un beneficio de Mercado Puntos. 
            </p> 
        </article>

        <article class = "informacion">
            <h4>Seguridad, de principio a fin</h4>
            <div class="info-icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,                           
                porque estás siempre protegido. 
            </p> 
        </article>
         
         
        <p class = "derechos">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>